<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <div class="form">
        <div class="form-body">
            <%= form_tag(posts_update_path(@post)) do %>
            <!-- textareaの場合は中身に直接初期値をセットすることで初期値を表示できる -->
                <textarea name = "content"><%= @post.content %></textarea>
                <input type="submit" value="編集完了">
            <% end %>
        </div>
    </div>
  </div>
</div>