<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
        <div class="posts-index-item">

            <div class="post-left">
              <img src="<%= "/image/#{post.user.image_name}" %>">
            </div>

            <div class="post-right">
              <div class="post-user-name">
                <%= link_to "#{post.user.name}" , users_show_path(post.user) %>
              </div>
              <%= link_to post.content , posts_show_path(post)  %>
            </div>

        </div>
    <% end %>
  </div>
</div>