<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
        <!-- @postのcontentカラムのデータを表示してください -->
        <%= @post.content %>
      </p>
      <!-- ここに指定されたHTMLを貼り付けてください -->
      <div class="post-time">
        <!-- @postのcreated_atカラムのデータを表示してください -->
        <%= @post.created_at %>
      </div>
      <div class="post-menus">
        <% if @current_user.id == @post.user.id %>
          <%= link_to("編集",posts_edit_path(@post)) %>
          <%= link_to("削除" , posts_destroy_path(@post) , {method:"delete"}) %>
        <% end %>
      </div>
    </div>
  </div>
</div>